ion-header{
    ion-toolbar{
        
    }
  }

ion-content {
  --background: #fff;
}

.container{
  margin-top: 20px;
}

ion-card {
  --background:var(--card-bg);
  --color: rgba(17,32,66,0.5);
  margin-inline: 0;
  box-shadow: none;
  border-radius: 16px;
  padding: 20px;
  margin: 0 0 10px;

  h5 {
    margin: 10px 0; font-size: 15px;
  }

  p {
    margin: 10px 0; line-height: 16px;

    ion-icon {
      display: inline-block; vertical-align: middle;
    }
  }

  .innerrow{
      display: flex; flex-direction: row; justify-content: space-between; 

    .left{ 
      flex: 1 0 0 ;
      img{ width: 55px; }
    }
    .right{ 
      width: 45px; text-align: left; 
    }
  }
  .star {
    span {
      display: inline-block;  vertical-align: middle; font-size: 30px; letter-spacing: 2px;  line-height: 32px;
    }
    span.number {
      font-size: 20px;  margin-top: -5px;
    }
  }
  small { font-size: 10px;
  }
  .holdername{
    font-size: 17px;
  }
  .cardchip {
    width: 36px; display: inline-block; vertical-align: middle; margin-top: -15px;
  }
  .history {
    img {
      display: inline-block; width: 25px; vertical-align: middle;
    }
  }
  .delete {
    font-size: 30px;  
    color: #4FAF3B;
    position: absolute;
    z-index: 11;
    right: -10px;
    top: -14px;
    cursor: pointer;
    img{
      width: 26px;
    }
  } 

}
.rownumber{ margin-top: 10px; }
.rowholder{ margin-top: 13px; }
  
ion-row {
  ion-col {
    padding: 0px 0;

    &.left { text-align: left; }
    &.right { text-align: right; }

    p { margin: 0px 0; }
    h5 { margin: 0; }
    h3 { margin: 0; font-size: 20px; }    
  }
}
  
ion-radio-group{
  display: block;
  
  ion-radio{
    --color: var(--theme-color-2);
    --color-checked:var(--theme-color-2);
    width: 100%;
    position: relative;

    &::part(label){
      width: 100%; margin-inline: 0px 0px;
    }
    &::part(container){
      position: absolute;
      z-index: 111;
      top: 20px;
      right: 20px;
    }

    &::part(container){ 
      background: var(--theme-gray); width: 24px; height: 24px; border-radius: 50%; 
      border-color: var(--theme-gray);
    } 

    &::part(mark){ height: 53%; background: var(--theme-color-2);}

    &.radio-checked{
      color: #fff;

      &::part(container){ background: var(--theme-color-2); border-color: var(--theme-color-2); }
      &::part(mark){ background: var(--theme-color-1);}
      &::part(label){ color: #fff; }
    }
  }
}
  
ion-button {
  &.btn-add-newcard{
    margin: 10px 0px 0px;
  }
  --padding-start: 20px; --padding-end: 20px;
}





/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

  ion-card{ padding: 25px; margin: 0 0 15px; }
  ion-card .innerrow{ padding: 3px 0; }
  ion-card .innerrow .left img{ width: 100px; }
  ion-card .innerrow .right{  width: 90px; }
  ion-card .cardchip{ width: 60px; }
  ion-card small{ font-size: 14px; }
  ion-card .star span{ font-size: 48px; letter-spacing: 6px; line-height: 54px; }
  ion-card .star span.number{  font-size: 32px;  margin-top: -1px; }
  ion-card .holdername{ font-size: 24px; }

  ion-radio-group ion-radio::part(container) { width: 30px;  height: 30px; }
  ion-button.btn-add-newcard{  margin: 0px 0px 0px; }

}