ion-header{
    ion-toolbar{  
        --background:transparent;    
        --min-height:150px;
        height: 180px;
        &.ios{ --min-height:150px;}
        ion-title{
          text-align: left; 
          &.ios{ 
            padding-inline:25px; margin-top:10px; line-height: 26px;
          }
        }
        [slot="end"]{
          margin-inline-end: 0px;
        }
        ion-buttons{
            ion-button{              
                display: inline-block;
                margin-inline-start:0;
                margin-inline-end: 0;
                margin-top: -20px;
                color: #fff;
        
                &::part(native){
                    padding-inline-start: 10px;
                    padding-inline-end: 0px;
                }
                &.ios{ margin-top:-5px; }
            }
        }
    }
}

ion-content{
    --background:rgba(17,32,66,0.5);

    &::after{
        position: fixed; z-index: -1; left: 0; right: 0; top:0; bottom: 0; content: "";
        background: url("../../assets/img/forgot-success.png") no-repeat center center / cover;
    }
}

h3{
    color: #fff; 
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 15px;
}
p{
    color: #fff; padding: 0 20px;
}
.topspace{
    display: block; height: 30%;
}








/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    .topspace{ height: 35%; }
    h3 { font-size: 50px; line-height: 60px; }




}