ion-header{
  ion-toolbar{      
      --min-height:150px;
      height: 180px;
      &.ios{ --min-height:150px;}
      ion-title{
        text-align: left; 
        &.ios{ 
          padding-inline:25px; margin-top:10px; line-height: 26px;
        }
      }
      [slot="end"]{
        margin-inline-end: 15px;
      }
      ion-buttons{
          ion-button{              
              display: inline-block;
              margin-inline-start:0;
              margin-inline-end: 0;
              margin-top: -20px;
      
              &::part(native){
                  padding-inline-start: 10px;
                  padding-inline-end: 0px;
              }
              &.ios{ margin-top:-5px; }
          }
      }
  }
}
  
.text {
  margin: 30px 0 0px;
  font-size: 14px;
  color: var(--theme-color-2);
} 

.list-md{ 
  background: transparent;
}
ion-list{
  margin:25px 0px 0; padding: 0;
  ion-item{
    --inner-border-width:0 0 0 0;
    margin: 0 0 15px;
    --background:var(--input-bg);
    // border: 1px solid var(--theme-color-2);
    --min-height: 46px;

    &:last-child{
      margin: 0 0 0px;
    }
    ion-input{
      color: var(--theme-color-2);
    }
    ion-icon{
      color: var(--theme-color-2);
      font-size: 20px;
      cursor: pointer;
    }
  }
}

ion-button{  
  &.btn-reset{
    --padding-start:20px;
    --padding-end:20px;
    margin: 20px 0px 10px;
  } 
}

ion-icon.eye {
  font-size: 18px; 
  cursor: pointer;
}
ion-icon.close-circle {
  font-size: 18px; 
  cursor: pointer;
}
  
  
   
  





/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

  ion-header ion-toolbar{ height: auto;   }
  .text {
    font-size: 21px;
  }




}