ion-header{
  ion-toolbar{
      height: 145px;
      --min-height: 145px;
      ion-title{
          .ftel-logo{
              width: 160px;
              margin:7px 0px 0px;
          }
      }
      [slot="end"]{
          margin-inline-end: 5px; 
      }      
      
      &.titlebar{
          --min-height: 70px; height: 90px; height: auto;
      }  
  }
}

ion-content {
  --background: #fff;
}

ion-row{
    ion-col{
        padding: 0;
        h3{ margin: 0; font-size: 20px;}
        &.right{ text-align: right;}
    }
}

.close{
    ion-button{
        --color:#fff;
        display: inline-block;
        margin-inline-start:0;
        margin-inline-end: 0;
        --box-shadow:none;
        width: 32px;
        height: 32px;
        display: inline-block;
        margin: 0px -5px 0 0;
        font-size:20px;
    }
}

ion-accordion-group{
    margin: 0px 0;
    ion-accordion{
        margin-bottom: 12px;
        // background-color: var(--theme-color-1);
        background-color: transparent;
        color:#fff; 
        font-size: 15px;
        ion-item{
            --border-width: 0px 0px 0px 0px;
            --background:var(--item-bg);
            --min-height:60px;
            ion-label{
                font-size: 15px; white-space: normal; color: var(--theme-color-2);
            }
            ion-icon{
                font-size: 18px;
            }
            &::part(native){ background: var(--input-bg); /*border: 1px solid var(--item-border);*/ color: #fff; border-radius: 10px; }
        }
        &.accordion-expanded{
            ion-item{
                &::part(native){ background: var(--input-bg); /*border: 1px solid var(--theme-color-2);*/ }
                ion-label{ color: var(--theme-color-2); }
            }
        }
        .ion-padding{
            font-family: 'Inter'; font-weight: 400; font-size: 14px; line-height: 20px; padding-top: 10px;  padding-bottom: 10px;
            p{
                margin: 0 0 5px; font-family:'Inter'; font-weight: 400; font-size: 14px; line-height: 20px; color: var(--theme-color-2);
            }
        }
    }
}

.categoriesTitle{
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--theme-color-2);
  font-weight: 600;
}








/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    ion-header ion-toolbar {height: 140px;}
    ion-header ion-toolbar.titlebar ion-title h3 {  line-height: 56px; }
    ion-header ion-toolbar ion-title .ftel-logo{ width: 260px;}
 
    ion-header ion-toolbar.titlebar{ --min-height: 120px; height: 130px; }

    ion-accordion-group ion-accordion{  margin-bottom: 20px;  }
    ion-accordion-group ion-accordion ion-item{ --min-height: 72px; }
    ion-accordion-group ion-accordion ion-item ion-label{  font-size: 22px; }
    ion-accordion-group ion-accordion .ion-padding{ font-size: 21px; line-height: 30px; padding-inline-start: 25px;  padding-inline-end: 25px;  }

    ion-accordion-group ion-accordion .ion-padding p{ font-size: 21px; line-height: 26px;}
    ion-accordion-group ion-accordion .ion-padding ul li{ line-height: 26px;}

    .categoriesTitle{ font-size: 28px; margin-bottom: 20px;}

}