ion-header{
  ion-toolbar{
    --background:transparent;
    //height: 140px;
    ion-title{
      padding-inline: 0;
      padding-inline-end: 40px;  //new
    }
    ion-buttons{
      margin-inline-end: 0px;
      // margin-top: -80px;
      position: absolute;  top: 0;  right: 0; //new

      ion-button{
        --padding-end:0; margin-inline-end:0; 
        min-height: auto;  height: auto;   //new
      }
    }
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // padding: 40px 0 0px;
  padding: 90px 0 0px;

  .title{
      width: 100%;
  }    
  h3{
      margin: 0 0 0px; font-size: 28px; color: #fff;
      div{
        font-weight: 400;
      }
  }
  p{
      margin: 0 0 10px; font-size: 16px; line-height: 22px; color: #fff;
  }
  ion-button{
      font-size: 22px;
      // color: var(--theme-gray);
      color: #fff;
      display: inline-block;
      min-height: auto;
      height: auto;
      margin: 0 0 0 15px;
      &::part(native){
          padding-inline: 0px;
          padding-top: 0;
          padding-bottom: 0;
      }
  }
}

.top-box {
    min-height: 250px;
    width: 100%;
    position: relative;
    //  background: url("../../assets/img/bundle-bg.png") no-repeat center top / cover;
    &::after {
        position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: 0; content: "";
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%);
    }
    .topboxbg{
      position: absolute; z-index: -1; left: 0; right: 0; top: 0; bottom: 0; content: "";
    }
}

.top-inner{
  position: relative; 
  z-index: 11; 
  color: #fff; 
  padding: 20px 20px 30px;
  h3{
     font-size: 30px; margin: 0  0 0;
    div{font-weight: 400;
    }
  }
}

.denote-cashback{
  color: #fff; 
  font-size: 15px; 
  margin: 5px 0 15px; 

  img{
      width: 20px; 
      margin-right: 5px; 
      display: inline-block; 
      vertical-align: middle; 
      margin-top: -3px;
  }
}

.container{
  position: relative; 
  color: #fff; 

  &::after{
    position: absolute; 
    z-index: 111; 
    left: 0; 
    right: 0; 
    top: -20px; 
    background-color: #fff; 
    height: 20px; 
    border-radius: 12px 12px 0 0; 
    content: "";
  }

  h3{
      font-size: 25px; 
      margin: 0  10px 10px; 
      //color: var(--theme-color-2); 
      font-weight: 600;
      &.valueplan{
        margin: -5px 10px 10px;
color: var(--theme-color-1);
      }
  }
  h4{
      font-size: 26px; 
      margin: 10px  10px 10px; 
      color: var(--theme-color-1);
  }
}
.datacontainer{
  padding:10px 15px;
}

ion-card{
  --background:transparent;
  --color:var(--theme-color-2);
  border: none;
  margin-inline: 0;
  box-shadow: none;
  border-radius: 0px;
  padding: 4px 10px;
  margin:0 0 10px;

  h5{ margin: 0px 0 0; }
  p{ margin: 0 0 0; }

  .data{ font-weight: bold; font-size: 18px; 
      font-size: 17px;    //language
  }
  .price{ font-family: 'SFProText'; font-weight: 700; 
    img{ width: 18px; display: inline-block; margin-top: -4px; vertical-align: middle;   }
  }
  .day{ font-family: 'SFProText'; font-weight: 600; font-size: 17px;}
  .info{  font-size: 10px; line-height: 16px;}
  .arrow{ text-align: right; font-size: 16px; }

  ion-row{
    ion-col{
      padding:2px 0;    
    }
  }

  &.mega-data{
    .day{  color: var(--theme-color-2); }  
    .price{ color: var(--theme-color-2); }
    .info{ color: var(--theme-color-2); }
    .arrow{ color: var(--theme-color-1); }
  }

  &.value-data{
    .data{ color: var(--theme-color-2); font-weight: 600; }
    .price{ color: var(--theme-color-2); }
    .info{ color:var(--theme-color-2); }
    .info span{ color: var(--theme-color-2);}
    h4{ font-weight: 600;}
    .arrow{ color: var(--theme-color-1); }
  }

}
.card-content-ios{
    padding-top:0;
}

.dataheading{
  margin: 20px 0 0;
  font-weight: 700;
  font-size: 16px;
}
.datatext{ 
  margin: 0 0 0;
  font-size: 14px;
}
ion-row{
  &.dataneed{
    ion-col{
      padding: 10px 5px;
      img{
        height: 17px; display: inline-block; vertical-align: middle; margin-right: 5px;
      }
      small{
        font-size: 10.5px; color: var(--theme-color-2); 
      }
    }
  }
}

.country{
  width: 30px;  height: 30px; overflow: hidden; display: inline-block; border-radius: 50%; vertical-align: middle; margin-right: 8px;
  img{
      width: 100%; height: 100%; object-fit: cover;
  }
}

p{
  margin:5px 0 0;
}

ion-footer{
  ion-toolbar{
    // --background:var(--theme-color-1)
  }
}





/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

  // ion-header ion-toolbar { height: 180px; }
  .header {
    h3{ 
      margin: 0 0 10px; font-size: 45px; color: #fff; 
    }
    p{ 
      margin: 0 0 15px; font-size: 24px; line-height: auto; 
    }
    ion-button{ font-size: 33px; margin: 5px 0 0 20px; padding: 0 0;}
  }
  .top-box{ min-height: 350px; }
  .container{ /*height: calc(100% - 350px);*/ }
  ion-header ion-toolbar ion-buttons ion-button { margin-top: 0px; }

  .denote-cashback{
    font-size: 22px; margin: 5px 0 20px; 
  
    img{
        width: 30px; 
    }
  }

  .top-inner h3 { font-size: 50px; }

  .container h3 { font-size: 45px; }
  ion-card{ margin: 0 0 15px;}
  ion-card .day { font-size: 27px;  }
  ion-card .info { font-size: 16px; line-height: 18px; }
  ion-card .arrow { font-size: 24px;  }
  ion-card .data { font-size: 27px; }
  ion-card .price img{ width: 26px; }

  .dataheading{ font-size: 24px; margin: 25px 0 0; }
  .datatext{ font-size: 21px;  }
  ion-row.dataneed ion-col img { height: 25px; margin-right: 8px; }
  ion-row.dataneed ion-col small { font-size: 15px; }
 




}
/**************************************************************/
/***** small devices ****/
@media only screen and (max-width : 380px) {

  .top-inner h3{ font-size: 26px; }
  .container h3{ font-size: 26px;}
  ion-row.dataneed ion-col{ padding: 13px 2px; }
  ion-row.dataneed ion-col small { font-size: 9.5px;   }
  ion-row.dataneed ion-col img{ height: 16px;}

}
