ion-header{
    ion-toolbar{
        ion-buttons{
            margin-top: -20px;
        }
    }
}
p{
    color: var(--theme-color-2);
}

.ion-padding{
    height: calc(100% - 180px);
}
.contentbox{
    min-height: calc(100% - 80px);
}
.cardoption{

}
ion-radio{
    background-color: var(--input-bg);
    padding: 15px 15px;
    display: block;
    border-radius: 10px;
    margin: 0 0 15px;
    // border: 1px solid var(--item-border);
    color:rgba(17,32,66,0.5);
    font-size: 15px;

    img{
        width: 25px; display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        &.gpay{ width: 30px;}
    }        

    &::part(container){ 
        background: var(--theme-gray); width: 24px; height: 24px; border-radius: 50%; 
        border-color: var(--theme-gray);
    } 

    &::part(mark){ height: 53%; background: var(--theme-color-2);}

    &.radio-checked{
      color: var(--theme-color-2);
        &::part(container){
          background: var(--theme-color-1); border-color: var(--theme-color-1);
        }
        &::part(mark){ background: var(--theme-color-1);}
    }
}
ion-button{
    &.btn-payment{
        margin:15px 0px 15px;
    }    
}

ion-item{
    --inner-border-width:0 0 0 0;
    margin: 0 0 15px;

    &:last-child{
      margin: 0 0 0px;
    }
    ion-input{ 
        color: var(--theme-color-2);
    }
    ion-icon{
        color: var(--theme-color-2);
        font-size: 20px;
        cursor: pointer;
    }
    &.textarea{
        --background:#DFF2FF;
            // border:1px solid rgba(0,240,181,0.2);
        color: var(--theme-color-2); 
    }
}
.sc-ion-input-md-h:not(.legacy-input){
    min-height: 56px;
}
ion-list{
    background: transparent;
    padding-top: 0;
    ion-item{
        --background:#DFF2FF;
            // border:1px solid rgba(0,240,181,0.2);
        // color: var(--theme-gray);
        ion-select{
            min-height: 56px;
            color: var(--theme-color-2);
            &::part(container){
                width: 100%;
            }
            &::part(label){
                color: var(--theme-color-2); 
                font-weight: 300;
            }
            .select-wrapper-inner{
                width: 100%;
            }
        }
    }
}



/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    .ion-padding{
        height: calc(100% - 160px);
    }
    .contentbox{
        min-height: calc(100% - 120px);
    }
    ion-radio { padding: 20px 20px; font-size: 22px; }
    ion-radio img{ width: 32px; margin-right: 15px; }
    ion-radio::part(container) { width: 30px; height: 30px; }

    .sc-ion-input-md-h:not(.legacy-input){
        min-height: 80px;
    }

    ion-list{
        ion-item{
            ion-select{
                min-height: 72px;
                font-size: 22px;
                &::part(label){
                    font-size: 22px;
                }
            }
        }
    }



}