h2{
    color: #fff; font-size: 46px; margin: -5px 0 10px; font-weight: 700;  text-align: center;
}
p{
    color: #fff; margin: 0 0 5px; text-align: center; font-size: 13px; font-weight: 500;
    strong{
        font-weight: 500;
    }
}
.sharereferral{
    margin: 20px 0 0; text-align: center;
}
ion-button{  
    display: inline-block; 
    --background:var(--theme-color-1);
    --background-activated:var(--theme-color-1);
    --color:#fff;
    font-size: 15px;
    font-weight: 600;
    --border-radius: 6px;
    height: 48px;
    margin: 0 0;
    width: 65%;

    &.close{
        --background:transparent;
        --color:#fff;
        font-size: 18px;
        font-weight: 600;
        width: auto;
        height: auto;
        margin-top: -5px;
        margin-right: -5px;
        margin-bottom: -10px;

        &::part(native){
            padding: 0 0;
        }
    }
}



/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){
    
    h2{ font-size: 66px;
        margin: 0 0 10px;
      }
      p {margin: 0 0 10px; font-size: 18px;
    }
    ion-button {
        font-size: 20px;
        height: 60px;

        &.close{
            font-size: 28px;
            margin-top: 0px;
            margin-right: 0px;
        }
    }
}