ion-header{
    ion-toolbar{      
        height: 180px;       
        [slot="end"]{
        //   margin-inline-end: 15px;
        }
        ion-buttons{
            ion-button{              
                margin-inline-start:0;
                margin-inline-end: 0;
                --box-shadow:none;
                margin-top: -20px;
        
                &::part(native){
                    padding-inline-start: 10px;
                    padding-inline-end: 15px;
                }
                &.ios{ margin-top:-5px; }
            }
        }
    }
}

ion-content{
  --background:#fff;
}

/* Custom styles for OTP input */
.otp-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-input {
        width: calc(25% - 20px);
        text-align: center;
        font-size: 24px;
        // border: 1px solid #ccc;
        border-radius: 8px;
        margin: 0 10px;
        background: var(--input-bg);
        // &:first-child{ margin-left: 0;}
        // &:last-child{ margin-right: 0;}
    }
}
  
.otp-input input:focus {
}

.text {
    margin: 30px 0 0px;
    font-size: 14px;
    color: var(--theme-color-2); 
}

.list-md{ 
    background: transparent;    
}

ion-list{
    margin:25px 0px 0; padding: 0;    
}
ion-item{
    --inner-border-width:0 0 0 0;
    margin: 25px 0px 0px;
    --padding-start: 0;
    --inner-padding-end: 0;
    --background:transparent;

    ion-input{
        color: var(--theme-color-2); 
    }
    ion-icon{
        color: var(--theme-color-2);
        font-size: 20px;
        cursor: pointer;
    }
}
.sc-ion-input-md-h:not(.legacy-input) {
    min-height: 60px;
}

ion-button{  
    &.btn-continue{
      --padding-start:20px;
      --padding-end:20px;
      margin: 55% 0px 0px;
    } 
}

ion-button{  
    &.btn-resend{
      --padding-start:20px;
      --padding-end:20px;
      margin: 25px 0px 0px;
    } 
}

.orbox{
    margin: 25px 0px 25px; border-bottom: 1px solid var(--theme-color-2); position: relative; font-family: 'Inter'; 
    span{
        position: absolute; z-index: 11; left: 50%; transform: translateX(-50%); padding: 10px 15px;
        top: -18px; background: #fff; font-size: 15px; white-space: nowrap; color: var(--theme-color-2); text-transform: uppercase;
    }
}
  









/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    ion-header ion-toolbar{ height: auto;   }
    .text { font-size: 21px; margin: 35px 0 35px; }
 
    .sc-ion-input-md-h:not(.legacy-input) { min-height: 80px; }
    .otp-input  ion-input  { font-size: 40px;  }
    .orbox{ margin: 35px 0px 35px;}
    .orbox span{ padding: 20px 15px; top: -30px; font-size: 21px;}

    ion-button.btn-continue { margin: 45% 0px 0px; }




}